*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(193, 233, 235);
}
.contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
h1{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
li{
  color: rgb(158, 155, 155);
}
